.nodeTransfer {
  display: flex;
  flex-direction: column;
  width: 878px;
  min-height: 519px;
  background-color: var(--primary-color);
  border-radius: var(--primary-border-radius);
  padding: 56px 14px;
  border: 3px solid var(--primary-border-color);
  user-select: none;
}

.treeViews {
  display: flex;
  justify-content: space-between;
}

.controls {
  width: 100%;
  display: flex;
}

.button {
  margin-top: 65px;
}
